<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mypms.mapper.VendorMapper">
    <select id="getAllDemands" resultType="com.example.mypms.model.ProcurementDemand">
        select pdid,
               p_uid,
               product_name,
               amount,
               expire_time,
               start_time,
               remark,
               uid as p_uid,
               uname
        from pd
                 inner join purchaser p on pd.p_uid = p.uid
        where expire_time > now()
        limit #{size} offset #{offset}
    </select>
    <select id="getAllDemandsCount" resultType="int">
        select count(*)
        from pd
        where expire_time > now()
    </select>

    <insert id="addQuote" parameterType="com.example.mypms.model.Quote">
        insert into quote (p_id, v_uid, amount, total_price, remark)
        values (#{p_id}, #{v_uid}, #{amount}, #{total_price}, #{remark})
    </insert>

    <select id="getQuotesByUid" resultType="com.example.mypms.model.Quote">
        select *
        from quote
        where v_uid = #{v_uid}
        limit #{size} offset #{offset}
    </select>
    <select id="getQuotesCountByUid" resultType="int">
        select count(*)
        from quote
        where v_uid = #{v_uid}
    </select>

    <delete id="deleteQuote">
        delete
        from quote
        where qid = #{qid}
          and v_uid = #{v_uid}
    </delete>

    <select id="getProcurementsByUid" resultType="com.example.mypms.model.Procurement">
        select *
        from processing
        where v_uid = #{v_uid}
        limit #{size} offset #{offset}
    </select>
    <select id="getProcurementsCountByUid" resultType="int">
        select count(*)
        from processing
        where v_uid = #{v_uid}
    </select>

    <select id="getPurchaserByUid" resultType="com.example.mypms.model.Purchaser">
        select uid, uname, email, rate, rate_num
        from purchaser
        where uid = #{uid}
        limit 1
    </select>
</mapper>