<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mypms.mapper.VendorMapper">
    <select id="getAllDemands" resultType="com.example.mypms.model.ProcurementDemand">
        select pdid,
               p_uid,
               product_name,
               amount,
               expire_time,
               start_time,
               remark,
               uid as p_uid,
               uname
        from pd
                 inner join purchaser p on pd.p_uid = p.uid
        where expire_time > now()
        limit #{size} offset #{offset}
    </select>
    <select id="getAllDemandsCount" resultType="int">
        select count(*)
        from pd
        where expire_time > now()
    </select>

    <insert id="addQuote" parameterType="com.example.mypms.model.Quote">
        insert into quote (p_id, v_uid, amount, total_price, remark)
        values (#{p_id}, #{v_uid}, #{amount}, #{total_price}, #{remark})
    </insert>

    <select id="getQuotesByUid" resultType="com.example.mypms.model.Quote">
        select amount,
               p_id,
               qid,
               remark,
               total_price,
               v_uid,
               uname,
               product_name
        from (select amount, p_id, qid, remark, total_price, v_uid from quote where v_uid = #{v_uid}) as t1
                 inner join (select pdid, p_uid, p.uname, pd.product_name
                             from pd
                                      inner join purchaser p on pd.p_uid = p.uid) as t2 on t1.p_id = t2.pdid
        where qid not in (select qid from processing)
        limit #{size} offset #{offset}
    </select>
    <select id="getQuotesCountByUid" resultType="int">
        select count(*)
        from (select amount, p_id, qid, remark, total_price, v_uid from quote where v_uid = #{v_uid}) as t1
                 inner join (select pdid, p_uid, p.uname, pd.product_name
                             from pd
                                      inner join purchaser p on pd.p_uid = p.uid) as t2 on t1.p_id = t2.pdid
        where qid not in (select qid from processing)
    </select>

    <delete id="deleteQuote">
        delete
        from quote
        where qid = #{qid}
          and v_uid = #{v_uid}
    </delete>

    <select id="isQuoteBeAgreed" resultType="int">
        select count(*)
        from processing
        where qid = #{qid}
    </select>

    <select id="getProcurementsByUid" resultType="com.example.mypms.model.Procurement">
        select pid,
               qid,
               pdid,
               status,
               start_time,
               p_uid,
               p_name,
               product_name,
               amount,
               total_price,
               cname,
               cpath,
               cexpire_time,
               remark
        from processing
        where v_uid = #{v_uid}
          and status > 0
          and 8 > processing.status
        limit #{size} offset #{offset}
    </select>
    <select id="getProcurementsCountByUid" resultType="int">
        select count(*)
        from processing
        where v_uid = #{v_uid}
          and status > 0
          and 8 > processing.status
    </select>

    <select id="getPurchaserByUid" resultType="com.example.mypms.model.Purchaser">
        select uid, uname, email, rate, rate_num
        from purchaser
        where uid = #{uid}
        limit 1
    </select>

    <select id="getStatusByPidAndUid" resultType="int">
        select status
        from processing
        where pid = #{pid}
          and v_uid = #{uid}
    </select>

    <update id="updateContract">
        update procurement
        set cname        = #{filename},
            cpath        = #{path},
            cexpire_time = #{expire_time},
            status       = 3,
            csize        = #{file_size}
        where pid = #{pid}
    </update>

    <select id="getContractPathAndName" parameterType="int" resultType="com.example.mypms.model.Contract">
        select cpath as path, cname as name
        from procurement
        where pid = #{pid}
    </select>

    <delete id="deleteProcurement">
        delete
        from procurement
        where pid = #{pid}
          and status = 2
    </delete>

    <select id="getProcurementsCountByPidAndUid">
        select count(*)
        from processing
        where pid = #{pid}
          and v_uid = #{uid}
    </select>

    <update id="nextStep">
        update procurement
        set status = #{current_status} + 1
        where pid = #{pid}
          and status = #{current_status}
    </update>

    <select id="getPuidByPid" resultType="java.lang.String">
        select p_uid
        from processing
        where pid = #{pid}
          and status > 0
          and 8 > processing.status
    </select>

    <update id="updateRate">
        update purchaser
        set rate     = (rate * rate_num + #{rate}) / (rate_num + 1),
            rate_num = rate_num + 1
        where uid = #{uid}
    </update>

    <update id="finishProcurement">
        update procurement
        set status = -1
        where pid = #{pid}
    </update>

    <select id="getVendorRate" resultType="float">
        select rate
        from vendor
        where uid = #{uid}
        limit 1
    </select>

    <select id="getChartData" resultType="com.example.mypms.model.LineChartData">
        select t2.label as `label`, coalesce(counts, 0) as `count`
        from (select cast(t.start_time as DATE) as label, count(*) as counts
              from (select * from pd where start_time > date_sub(now(), INTERVAL 7 DAY) and expire_time > now()) as t
              group by day(t.start_time)) as t1
                 right join
             (select DATE_SUB(curdate(), INTERVAL 0 DAY) label
              union
              select DATE_SUB(curdate(), INTERVAL 1 DAY) label
              union
              select DATE_SUB(curdate(), INTERVAL 2 DAY) label2
              union
              select DATE_SUB(curdate(), INTERVAL 3 DAY) label3
              union
              select DATE_SUB(curdate(), INTERVAL 4 DAY) label4
              union
              select DATE_SUB(curdate(), INTERVAL 5 DAY) label5
              union
              select DATE_SUB(curdate(), INTERVAL 6 DAY) label6) as t2 on t1.label = t2.label
        order by label
    </select>

    <select id="getStatusCount" resultType="com.example.mypms.model.StatusCount">
        select sum(if(status = 1, 1, 0))                          as `one`,
               sum(if(status = 2, 1, 0))                          as `two`,
               sum(if(status = 3, 1, 0))                          as `three`,
               sum(if(status = 4, 1, 0))                          as `four`,
               sum(if(status = 5, 1, 0))                          as `five`,
               sum(if(status = 6, 1, 0))                          as `six`,
               sum(if(status = 7, 1, 0))                          as `seven`,
               sum(if(status > 7 or 1 > processing.status, 1, 0)) as `finished`
        from processing
        where v_uid = #{v_uid}
    </select>

    <select id="getNeedActionProcurement" resultType="com.example.mypms.model.Procurement">
        select pid,
               qid,
               pdid,
               status,
               start_time,
               p_uid,
               p_name,
               product_name,
               amount,
               total_price,
               cname,
               cpath,
               cexpire_time,
               remark
        from processing
        where v_uid = #{v_uid}
          and status in (2, 4, 7)
        limit 6
    </select>

    <select id="getLatestDemands" resultType="com.example.mypms.model.ProcurementDemand">
        select pdid,
               product_name,
               amount,
               expire_time,
               start_time,
               remark,
               uid as p_uid,
               uname
        from pd
                 inner join purchaser p on pd.p_uid = p.uid
        where expire_time > now()
        order by start_time DESC
        limit 6
    </select>
</mapper>